# Ignore everything
*

!.gitignore
!README.md
!CHANGELOG.md
!MANUAL.md

# Allowed to publish
!/docs/
!/docs/*

!/PetsciiProxy/
/PetsciiProxy/*
!/PetsciiProxy/go.mod
!/PetsciiProxy/go.sum
!/PetsciiProxy/main.go
!/PetsciiProxy/ardtext.go
!/PetsciiProxy/common.go
!/PetsciiProxy/dr.go
!/PetsciiProxy/forum64.go
!/PetsciiProxy/nosnews.go
!/PetsciiProxy/nostt.go
!/PetsciiProxy/orf.go
!/PetsciiProxy/srg.go
!/PetsciiProxy/svttext.go
!/PetsciiProxy/tekstitv.go
!/PetsciiProxy/tti.go
!/PetsciiProxy/ttxweb.go
!/PetsciiProxy/ud.go
!/PetsciiProxy/wdr.go
!/PetsciiProxy/zdftext.go
!/PetsciiProxy/assets/
!/PetsciiProxy/assets/tekstitv-info.bin
!/PetsciiProxy/assets/forum64/
!/PetsciiProxy/assets/forum64/*.bin
!/PetsciiProxy/assets/nosnews/
!/PetsciiProxy/assets/nosnews/*.bin
!/PetsciiProxy/Makefile
!/PetsciiProxy/dist/
!/PetsciiProxy/dist/petsciiproxy-linux-386
!/PetsciiProxy/dist/petsciiproxy-linux-64bit
!/PetsciiProxy/dist/petsciiproxy-mac-silicon
!/PetsciiProxy/dist/petsciiproxy-mac-intel
!/PetsciiProxy/dist/petsciiproxy-windows.exe
!/PetsciiProxy/dist/petsciiproxy-raspberrypi-32bit
!/PetsciiProxy/dist/petsciiproxy-raspberrypi-1B

!/Teletext64U/
!/Teletext64U/target/
/Teletext64U/target/*
!/Teletext64U/target/*.d64
!/Teletext64U/target/teletext64-wic64.prg
!/Teletext64U/target/RunMeFirst.cfg
!/Teletext64U/target/teletext.vpl