# Ignore everything
*

!.gitignore
!README.md
!CHANGELOG.md

# Allowed to publish
!/docs/
!/docs/*

!/PetsciiProxy/
/PetsciiProxy/*
!/PetsciiProxy/go.mod
!/PetsciiProxy/go.sum
!/PetsciiProxy/main.go
!/PetsciiProxy/Makefile
!/PetsciiProxy/dist/
!/PetsciiProxy/dist/petsciiproxy-apple-silicon
!/PetsciiProxy/dist/petsciiproxy-windows.exe

!/Teletext64U/
!/Teletext64U/target/
/Teletext64U/target/*
!/Teletext64U/target/*.d64
!/Teletext64U/target/RunMeFirst.cfg
!/Teletext64U/target/teletext.vpl